/TourGuide/build/test-results/test/binary/output.bin.idx
/TourGuide/build/test-results/test/binary/results.bin
/TourGuide/build/test-results/test/TEST-tourGuide.TestRewardsService.xml
/TourGuide/build/reports/tests/test/classes/tourGuide.TestRewardsService.html
